body {
    width: 99vw;
    background-image: radial-gradient(#6495ED05, #6455EDA9);
    /* background-image: radial-gradient(#000000dc, #000000); */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 20px auto;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

* {
    box-sizing: border-box;
}


::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: rgba(128, 128, 128, 0.26);
}

::-webkit-scrollbar-thumb {
    background-color: #e44688c5;

}



.container {
    width: 575px;
    height: 800px;
    border-radius: 8px;
    box-shadow: 3px 3px 10px 3px #000000aa;
    margin: 10px 0;
}

.image-container {
    width: 100%;
    height: 75%;
    background-color: #191970;
    position: relative;
    border-radius: 8px 8px 0 0;
}

.image {
    min-width: 80%;
    height: 80%;
    border-radius: 5px;
    background-image: url(../../image.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 10%;
    left: 10%;
    margin: 0;
    box-shadow: 0px 0px 10px 1px #1F51FF;
}

.details {
    width: 100%;
    height: 12%;
    background-color: #191970;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.song {
    width: 90%;
    margin: 0;
    font-size: 25px;
    text-align: center;
    color: #ffffff;
    text-transform: capitalize;
}

.artist {
    width: 90%;
    text-align: center;
    margin: 10px 0;
    color: #bbbbbbd0;
    text-transform: capitalize;
}

.progress-bar {
    width: 100%;
    height: 3%;
    border: none;
    background-color: #ffffff;
    border-bottom: 1px solid #333333;
    border-top: 1px solid #333333;
    overflow: hidden;
}

.progress {
    height: 100%;
}

.timer {
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    padding: 0 3px;
    margin-top: -18px;
    font-weight: bolder;
    cursor: default;
}

.controls {
    width: 100%;
    height: 10%;
    border-radius: 0 0 8px 8px;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 15px;
    padding-left: 18px;
}

.controls>div {
    cursor: pointer;
    margin: auto 0;
}


.menu {
    font-size: 20px;
    color: #333333;
}

#alert {
    font-size: 12px;
    color: #ff0000;
    vertical-align: bottom;
    margin-right: -4px;
    visibility: hidden;
}

.repeat {
    font-size: 20px;
    color: #333333;
    width: 20px;
}

.repeat-status {
    font-size: 10px;
    display: inline;
    padding: 0;
    margin: 0;
}


.prev {
    font-size: 45px;
}

.play-pause {
    font-size: 70px;
}

.next {
    font-size: 45px;
}

.shuffle {
    font-size: 20px;
    color: #333333;

}

.volume {
    font-size: 20px;
    width: 40px;
    color: #333333;
}

.volume p {
    font-size: 20px;
    display: inline;
    /* margin-left: 1px; */
    padding-right: 1px;
}

#myModal {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    background-color: #33333391;
    display: none;
    justify-content: center;
}

.modal-content {
    width: 80%;
    height: 99%;
    min-width: 475px;
    min-height: 650px;
    background-color: #000c33f5;
    margin: 2px 0;
    display: flex;
    flex-direction: column;
    color: #ffffffaa;
}

.close {
    font-size: 30px;
    font-weight: bolder;
    height: fit-content;
    color: rgb(255, 0, 0);
    text-align: center;
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.192);
}

.close:hover {
    background-color: rgba(190, 187, 187, 0.137);
}

.modal-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 10px;
}

.alert-message {
    border: 1px solid rgba(255, 255, 255, 0.192);
    text-align: center;
    margin-top: 1%;
    font-size: 13px;
    display: none;
}

.main-list {
    border: 1px solid rgba(255, 255, 255, 0.192);
    width: 55%;
    height: fit-content;
}

.category {
    border-bottom: 1px solid rgba(255, 255, 255, 0.192);
    width: 100%;
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.btn-container {
    min-width: fit-content;
    width: 32%;
    border: 1px solid #00f7ff18;
    display: flex;
    flex-direction: row;
    margin: 2px;
    background: none;
}

.btn-container:hover {
    border: 1px solid #00f7ffe1;
}

.name {
    width: 80%;
    background: none;
    border: none;
    color: #ffffffb6;
    font-size: 15px;
    cursor: pointer;
    text-align: left;
    padding-left: 10px;
}

.name:hover {
    background-color: #00f7ffaf;
    color: #000000;
}

.action {
    width: 20%;
    background: none;
    border: none;
    color: #ffffff;
    font-size: 15px;
    cursor: pointer;
}

.action:hover {
    background-color: #ffffff;
    color: #ff0000;
}

.list {
    width: 100%;
    height: 85vh;
    overflow: scroll;
    scroll-behavior: smooth;
    scrollbar-width: thin;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 15px 0;
    overflow-x: hidden;
}

.list>.btn-container {
    width: 90%;
    justify-content: center;
}

.body-playlist-container {
    width: 575px;
    max-height: 780px;
    text-align: center;
    margin: 0;
    padding: 0;
    overflow-y: scroll;
    scroll-behavior: smooth;
    scrollbar-width: 2px;
    padding: 2% 0;
}

/* .top{
    width: 100%;
    height: 30px;
    background: linear-gradient(rgb(255, 255, 255), rgba(255, 255, 255, 0.637), rgba(255, 255, 255, 0.384));
    position: sticky;
    top: 0;
    z-index: 90;
    box-shadow: 0 5px 10px 3px #ffffffaa;
} */

/* .bottom{
    width: 100%;
    height: 30px;
    background: linear-gradient(rgb(255, 255, 255, 0.384), rgba(255, 255, 255, 0.637), rgba(255, 255, 255));
    position: sticky;
    bottom: 0;
    z-index: 90;
    box-shadow: 0 3px 0 3px white;
} */

body #playlist {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 0;
}

body #playlist button {

    margin: 2px 0;
    color: rgb(0, 0, 0);
    border: none;
    padding: 3px 15px;
}

body #playlist button:hover {
    background-color: #191970;
    border-radius: 5px;
    color: #ffffff;
    font-weight: unset;
}


#myModal .playlist {
    border: 1px solid rgba(255, 255, 255, 0.192);
    width: 35%;
    height: 92vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow-y: scroll;

}

#myModal .playlist>.btn-container {
    width: 90%;
    justify-content: center;
}

.highlight {
    background-color: #538fffee;
    /* border-radius: 15px; */
}


.clear-playlist-button {
    border: 1px solid skyblue;
    margin: 5px 0;
    width: 90%;
    background: none;
    color: skyblue;
    font-size: 15px;
    font-weight: bold;
}

.clear-playlist-button:hover {
    background-color: #aa0000;
    color: #ffffff;
}
